@import '../../../../styles/colors';

.live-carousel {
  img {
    width: 100%;
    max-height: 60rem;
  }

  .carousel-caption {
    bottom: 20%;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 3rem;
    border: 3px solid white;
  }
}
