@import './src/styles/variables';

.live-card {
  width: 36rem;
  height: 30rem;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0 0 2rem #cdc8c8;

  .card-title {
    font-size: 2rem;
  }

  .card-body {
    text-align: left;

    .card-text {
      font-size: $font-size;
    }

    .ghost-btn {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
