@import './src/styles/variables';

.live-card {
  max-width: 36rem;
  max-height: 30rem;
  border-radius: 1rem;
  padding: 1rem 2rem 2rem;
  box-shadow: 0 0 2rem #cdc8c8;

  .card-title {
    font-size: 2rem;
  }

  .card-body {
    text-align: left;

    .card-text {
      font-size: $font-size;
    }

    .ghost-btn {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media (max-width: 768px) {
    .ghost-btn {
      width: 100% !important;
    }
  }
}
