@import './src/styles/colors';

.landing-page {
  .main-content {
    margin-bottom: 10rem;

    .details {
      width: 75%;

      .primary-btn {
        margin-left: 1rem;
      }
    }
  }

  .live-carousel-container, .collection-carousel-container {
    margin-bottom: 8rem;
  }

  .top-category-title, .trending-title {
    margin-top: 8rem;

    select {
      color: $light-blue;
      border: none;
      padding: 0 30px 0 0;
    }
  }

  .process {
    margin-top: 8rem;
    background-color: $light-gray;
    background-image: url('./../../assets/process-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100%;
    color: white;

    img {
      width: 100%;
    }
  }

  .join-section {
    margin-top: 12rem;
    margin-bottom: 24rem;

    p {
      width: 50%;
    }
  }

  .why-section {
    border: 1px solid $black;
    border-radius: 2rem;
    margin: -4rem auto 6rem auto;
    background-color: white;
  }

  .unlock-section {
    margin-top: 8rem;
    background-color: $light-gray;
    padding: 6rem 0 12rem;
    background-image: url('./../../assets/unlock-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100%;

    p {
      width: 25%;
    }
  }

  .waitlist {
    margin-top: 8rem;
    background-color: $light-gray;

    .text {
      width: 50%;
    }

    .waitlist-form {
      display: flex;
      width: 75%;

      .input-form {
        width: 60%;

        .input {
          min-height: 3rem;
          border-radius: 3rem;
        }

        .primary-btn {
          height: 38px;
        }
      }
    }

    img {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .main-content .details,
    .waitlist .waitlist-form,
    .waitlist .text,
    .join-section p,
    .unlock-section p
    {
      width: 100%;
    }

    .join-section .primary-btn,
    .unlock-section .primary-btn {
      width: 80% !important;
    }

    .waitlist-form {
      display: block !important;

      .input-form {
        width: 100% !important;
        margin-bottom: 12px;
      }
    }

    img {
      width: 100%;
    }
  }
}
