@import './src/styles/colors';

.sign-in-container {
  .input {
    border-radius: 3rem;
    background-color: $input-bg;
  }

  .submitBtn {
    width: 100%;
    border-radius: 3rem;
    background-color: $default-green;
  }
}
