@import './src/styles/colors';

.sign-in {
  font-size: 18px;
  min-height: 60rem;

  .input {
    border-radius: 3rem;
    background-color: $light-gray;
    min-height: 3.5rem;
    font-size: 20px;
  }

  > div {
    min-width: 30%;
  }
}
