@import './src/styles/colors';

.sign-in {
  margin-top: 8rem;

  .input {
    border-radius: 3rem;
    background-color: $light-gray;
    min-height: 3rem;
  }

  > div {
    min-width: 30%;
  }

  .alt-login-card {
    margin-left: auto;
    margin-right: auto;
  }
}
