@import './src/styles/colors';

.form-inline-insert-modal {
  input.form-control, .primary-btn {
    min-height: 3rem;
    border-radius: 1rem;
  }

  .modal-content {
    border-radius: 1rem;
    padding: 2rem;
  }

  .btn-close {
    margin-left: 0;
  }
}
