@import './src/styles/colors';

.top-category-card {
  .card {
    height: 8rem;
    border-radius: 1rem;

    .card-body {
      display: flex;
      background-color: $light-gray;
      border-radius: 1rem;

      .card-img-sm {
        width: 6rem;
        height: 6rem;
      }

      .gain {
        color: $green;
      }
    }
  }
}
