@import '../../../../styles/colors';

.profile-card {
  .card {
    box-shadow: 0 0 2rem #cdc8c8;
    padding: 2rem;
    border-radius: 1rem;
    width: 40rem;
    height: 100%;
  }

  .card-img-sm {
    max-width: 8rem;
  }

  .name {
    color: $light-blue;
  }
}
