@import '../../../../styles/colors';

.profile-card {
  .card {
    box-shadow: 0 0 2rem #efefef;
    padding: 1rem;
    max-width: 16rem;
  }

  .card-body {
    padding-bottom: 0;
  }

  .card-img-sm {
    max-width: 4rem;
    border-radius: 2rem;
  }

  .card-title {
    font-weight: 600;
  }

  .card-text {
    font-weight: 600;
    color: $light-blue;
  }
}
