@import '../../../../styles/colors';

.primary-btn {
  background-color: $green;
  border: 1px solid $green;
  padding: 6px 1rem;
  border-radius: 3rem;
  min-height: 3rem;

  &.black {
    color: white;
    background-color: $black;
    border: 1px solid $black;
  }

  &.red {
    color: white;
    background-color: $light-red !important;
    border: 1px solid white;
  }

  &.dark-blue {
    color: white;
    background-color: $dark-blue;
    border: $dark-blue;
  }
}
