@import './src/styles/colors';

.nav-bar {
  height: 5rem;
  justify-content: start;
  box-shadow: 0 8px 0 -2px #efefef;
  padding: 0.5rem 0;

  .navbar-brand {
    margin-left: 3rem;
    margin-right: 3rem;

    img {
      width: 8rem;
    }
  }

  .search {
    min-width: 30%;
  }

  .nav-link {
    margin-left: 1rem;
    color: $black !important;
    min-width: 8rem;
  }

  .navbar-toggler {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  @media (max-width: 768px) {
    .navbar-brand {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    #navbarScroll {
      background-color: $light-gray;

      .navbar-nav {
        padding-bottom: 2rem;

        .nav-link {
          width: 100%;

          .primary-btn {
            width: 30%;
          }
        }
      }
    }
  }
}
