@import './src/styles/colors';

.nav-bar {
  justify-content: start;
  box-shadow: 0 8px 0 -2px #efefef;
  padding: 0.5rem 0;

  .navbar-brand img {
    width: 4rem;
  }

  .search {
    width: 30%;
  }

  .nav-link {
    margin-left: 1rem;
    color: $dark-gray !important;
    font-weight: 700;
  }
}
