@import '../../../../styles/colors';

.collection-carousel {
  height: 42rem;

  .carousel-inner, .carousel-item {
    height: 100%;
  }

  .carousel-caption {
    bottom: 20%;
    justify-content: space-between;
    width: 85.7%;
    left: 8%;
  }

  .collection-card {
    margin-right: 20px;
  }

  .carousel-control-prev, .carousel-control-next {
    z-index: 10;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 3rem;
    border: 3px solid white;
    background-color: black;
  }

  @media (max-width: 768px) {
    .carousel-caption {
      .collection-card:last-child {
        display: none;
      }
    }
  }
}
