.collection-carousel {
  height: 42rem;

  .carousel-inner, .carousel-item {
    height: 100%;
  }

  .carousel-caption {
    bottom: 20%;
    justify-content: space-between;
  }

  .collection-card {
    margin-right: 20px;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
  }
}
