@import './src/styles/colors';

.search-input {
  width: 100%;

  .search-icon {
    position: absolute;
    margin: 1rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  input {
    border-radius: 3rem;
    padding-left: 50px;
    min-height: 3.5rem;
    font-size: 20px;
  }
}
