@import './src/styles/colors';

.footer {
  bottom: 0;
  color: white;
  background-color: $dark-blue;
  max-height: 300px;
  padding: 1rem 2rem;
  font-size: 1rem;
  width: 100%;

  img {
    width: 8rem;
  }
}
