@import './src/styles/colors';

.new-item {
  width: 75%;

  input.form-control, textarea.form-control {
    min-height: 3rem;
    border-radius: 0.5rem;
  }

  .create-item-card {
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    padding: 1px;
    box-shadow: 0 0 2rem #cdc8c8;
    border: 1px dashed black;
    cursor: pointer;

    .card-body {
      text-align: left;

      .card-img-dp {
        position: absolute;
        max-width: 40%;
        border-radius: 3rem;
        left: 30%;
        top: 30%;
        border: 3px solid white;
      }
    }
  }

  .form-collection-select {
    .collection-cell-card {
      padding: 4px 0;
    }
  }

  .form-inline-insert {
    .insert {
      border: 1px solid black;
      border-radius: 1rem;
      width: 4rem;
      height: 3rem;
      cursor: pointer;

      svg {
        color: $green;
      }
    }
  }

  .form-inline-switch {
    .form-switch {
      padding: 0.5rem;

      .form-check-input {
        width: 3rem;
        height: 1.5rem;
      }
    }
  }

  .form-sell-method {
    .method {
      border: 1px solid black;
      border-radius: 1rem;
      padding: 2rem 6rem;
      cursor: default;
      margin: 0 4px;
    }
  }

  .form-inline-select {
    .form-select {
      width: 16rem;
      height: 3rem;
      border-radius: 0.5rem;
    }

    .input-group-text {
      border-radius: 0.5rem;
    }
  }

  .summary {
    background-color: $light-gray;
    border-radius: 1rem;

    .primary-btn {
      min-height: 3rem;
    }
  }

  @media (max-width: 768px) {
    width: 100%;

    .form-sell-method {
      .method-group {
        flex-direction: column;

        .method {
          margin-bottom: 1rem;
        }
      }
    }

    .form-inline-select {
      flex-direction: column;
    }

    .summary {
      .summary-content {
        flex-direction: column;
      }
    }
  }
}
