@import './src/styles/colors';

.collection-table {
  .filter-select {
    margin: 0 0.5rem;
  }

  .table {
    th, td {
      font-size: 18px;
    }

    .gain {
      color: $green;
    }

    .loss {
      color: $red;
    }
  }
}
