@import './src/styles/colors';

.filter-card {
  .card.filter {
    width: 12rem;
    min-height: 3rem;
    border-radius: 3rem;

    .card-img-xs {
      max-width: 3rem;
      max-height: 3rem;
      border-radius: 2rem;
    }
  }
}
