@import './src/styles/colors';

.collection-card {
  width: 24rem;
  height: 30rem;
  border-radius: 1rem;
  padding: 1px;
  box-shadow: 0 0 2rem #cdc8c8;

  .card-body {
    text-align: left;

    .card-img-cover {
      max-height: 50%;
      object-fit: cover;
      border-radius: 1rem;
    }

    .card-img-dp {
      position: absolute;
      max-width: 40%;
      border-radius: 3rem;
      left: 30%;
      top: 30%;
      border: 3px solid white;
    }

    .card-content {
      margin-top: 5rem;

      .user-name {
        color: $light-blue;
      }
    }
  }
}
